<launch>
  <include file="$(find loam_velodyne)/launch/loam_velodyne.launch"/>
  <!-- <include file="$(find octomap_mapping)/octomap_sever/launch/octomap_mapping.launch"/> -->
  <include file="$(find octomap_server)/launch/octomap_mapping.launch"/>
  <include file="$(find husky_viz)/launch/view_robot.launch"/>

  <include file="$(find husky_navigation_goals)/launch/send_goal.launch"/>

  <include file="$(find topo_confidence_map)/launch/mapping.launch">
    <arg name="fileoutputpath" value="/home/lx/tmp/"/>
  </include>

</launch>
